# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (or, and ... if statements)</i>

1) String Manipulation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) strip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) title() <br>
2) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br>
3) List Comprehensions <br>
4) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>
5) Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) User-Defined vs. Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accepting Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Default Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Making an Argument Optional <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Keyword Arguments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Returning Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) *args <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Docstring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Using a User Function in a Loop <br>
6) Scope

### String Manipulation

In [1]:
my_string = "Kevin and Tony hold hands and frolic through the flowers!"
my_string.title()

'Kevin And Tony Hold Hands And Frolic Through The Flowers!'

In [2]:
my_string.lower()

'kevin and tony hold hands and frolic through the flowers!'

In [3]:
my_string.capitalize()#first letter only

'Kevin and tony hold hands and frolic through the flowers!'

In [4]:
my_string.upper()

'KEVIN AND TONY HOLD HANDS AND FROLIC THROUGH THE FLOWERS!'

In [6]:
my_string

'Kevin and Tony hold hands and frolic through the flowers!'

##### .lstrip()

In [7]:
# string.lstrip()
name = "         caleb          "
name.lstrip()

'caleb          '

##### .rstrip()

In [8]:
name = "         caleb          "
name.rstrip()

'         caleb'

##### .strip()

In [9]:
name = "         caleb          "
name.strip()

'caleb'

In [10]:
name = "         caleb          "
name.lstrip(" a")

'caleb          '

In [11]:
name = "         caleb          "
name.strip(" cb")

'ale'

##### .title()

In [15]:
# string.title()

Barak Obama

### String Exercise <br>
<p>Strip all white space and capitalize every name in the list given</p>

In [20]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration

# list_above = []
# list_above.append(names)
# for x in range(len(1000)):
#     print(x)

names_list = []
for name in names:
    print(name.strip().title())
    names_list.append(name.strip().title())
print(names_list)

Connor
Max
Evan
Jordan
['Connor', 'Max', 'Evan', 'Jordan']

In [13]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']

new_list= []
for name in names:
    print(name.strip().title)
    new_list.append(name.strip().title())
print(new_list)

<built-in method title of str object at 0x00000203A45B8A30>
<built-in method title of str object at 0x000002039CDDDE70>
<built-in method title of str object at 0x00000203A45B89F0>
<built-in method title of str object at 0x00000203A45B8870>
['Connor', 'Max', 'Evan', 'Jordan']

#...split()

In [14]:
my_string="Hello    all     you    guys   I hope you are having a great day!"
list_of_words = my_string.split()
print(list_of_words)

['Hello', 'all', 'you', 'guys', 'I', 'hope', 'you', 'are', 'having', 'a', 'great', 'day!']

In [16]:
my_string="Hello,    all,    you,    guys   I hope you are having a great day!"
list_of_words = my_string.split(", ")
print(list_of_words)

['Hello', '   all', '   you', '   guys   I hope you are having a great day!']

### Working With Lists

##### min()

In [19]:
#min(list)

my_list = [88, 56, 34.54, 4643, 47968, 44, 1, 2]
min(my_list)

1

##### max()

In [20]:
# max(list)
max(my_list)

47968

##### sum()

In [21]:
# sum(list)

sum(my_list)

52836.54

##### sorted()

In [24]:
# sorted(list)

print(sorted(my_list))
my_list = sorted(my_list)
print(my_list)

[1, 2, 34.54, 44, 56, 88, 4643, 47968]
[1, 2, 34.54, 44, 56, 88, 4643, 47968]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [27]:
# list.sort()
my_list = [88, 56, 34.54, 4643, 47968, 44, 1, 2]
print(my_list)
# in place
print(my_list.sort())
print(my_list)

[88, 56, 34.54, 4643, 47968, 44, 1, 2]
None
[1, 2, 34.54, 44, 56, 88, 4643, 47968]

##### Copying a List

In [29]:
# [:] copies a list, doesn't alter original'
my_list = [1,2,3,4,5]
my_list2 = my_list[:]
my_list3 = my_list.copy()

print(my_list)
print(my_list2)
print(my_list3)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

##### 'in' keyword

In [32]:
l_teachers = ["Joel","Derek","Conner","Brian","Joe"]

if 'Derek' in l_teachers:
    print('Coding Temple Instructor')
else:
    print('Not an Instructor')

Coding Temple Instructor

In [35]:
# Looking inside of the list for specific characters
# for name in l_teachers:
#     if name[0] == 'C':
#         print('Teacher that starts with C')
#     else:
#         print("We ain't got it boss...")
        
for name in l_teachers:
    if 'C' in name[0]:
        print('Found')
    else:
        print('Not Found')

Not Found
Not Found
Found
Not Found
Not Found

##### 'not in' keyword

In [33]:
if 'Zack' not in l_teachers:
    print('Not a CT Instructor')

Not a CT Instructor

##### Checking an Empty List

In [36]:
# if l_1: or if l_1 = []
l_2 = []

if l_2 == []:
    print('Empty')

Empty

##### Removing Instances with a Loop

In [30]:
# while, remove
test_list=["a","B","B","c","d","d","B"]
test_list.count("B")

3

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [32]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier

names_copy = []

for i in names:
    if i not in names_copy:
        names_copy.append(i)
print(f'new list after removing dups {names_copy}')


names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
new_list = []
for x in names:
    if x not in new_list:
        new_list.append(x)
print(f'newer list{new_list}')

new list after removing dups ['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']
newer list['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [variable, transform, condition]
```

In [39]:
my_class= ["Perry", "Marco", "Caleb", "Lizette" , "Tony","Gulfmen"]
new_list = []
for person in my_class:
    new_list.append(person)

print(new_list)

['Perry', 'Marco', 'Caleb', 'Lizette', 'Tony', 'Gulfmen']

In [40]:
new_list_comp = [person[0] for person in my_class]
new_list_comp

['P', 'M', 'C', 'L', 'T', 'G']

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [42]:
my_class= ["Perry","Cedric", "Marco", "Caleb", "Lizette" , "Campos", "Gulfmen", "Cindy",]
new_list = []
for person in my_class:
    if person[0].lower() == "c":
        new_list.append(person)
print(new_list)

['Cedric', 'Caleb', 'Campos', 'Cindy']

In [44]:
new_list= [person for person in my_class if person[0].lower()== 'c']
new_list

['Cedric', 'Caleb', 'Campos', 'Cindy']

In [45]:
my_class= ["Perry","Cedric", "Marco", "Caleb", "Lizette" , "Campos", "Gulfmen", "Cindy",]
new_list = []
for person in my_class:
    if person[0].lower() == "c":
        new_list.append(person)
    else:
        new_list.append("Not a C name")
print(new_list)

['Not a C name', 'Cedric', 'Not a C name', 'Caleb', 'Not a C name', 'Campos', 'Not a C name', 'Cindy']

In [47]:
new_list= [person if person[0].lower()== "c" else"Not a c name" for person in my_class]
new_list

['Not a c name',
 'Cedric',
 'Not a c name',
 'Caleb',
 'Not a c name',
 'Campos',
 'Not a c name',
 'Cindy']

In [58]:
# Ex.............

# given a list (my_list) use a list comprehension to give me the 
# last letter of each word lowercased
my_list=['Levi','Axel','Carmelo','Yakov','Katie','Alec','Angelo','David','Trace']

new_list=[person[-1].lower() for person in my_list]
new_list

['i', 'l', 'o', 'v', 'e', 'c', 'o', 'd', 'e']

In [69]:
my_class=['Grady', 'Dara', 'Scarlett', 'Patrick', 'Ku', 'Frank', 'Aydee']
# pull out 5 letter names... if the name is not five letter add in Not a five letter name
new_list = [person if len(person) == 5 else "Not a 5" for person in my_class]
new_list

['Grady', 'Not a 5', 'Not a 5', 'Not a 5', 'Not a 5', 'Frank', 'Aydee']

In [50]:
# square number comprehension
squares = [x**2 for x in range(10)]

print(squares)

squares_reg = []

for x in range(10):
    squares_reg.append(x**2)

print('\n')
print(squares_reg)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]


[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [52]:
# string comprehension
names = ['Conner', 'Max','Evan','Rob']

first_char_comp = [name[0] for name in names]

print(first_char_comp)

# For Loop Version
first_char = []

for name in names:
    first_char.append(name[0])
print('\n')
print(first_char)

['C', 'M', 'E', 'R']


['C', 'M', 'E', 'R']

In [54]:
# Using the 'if' statement ... if always comes after the for
c_names = [first_name for first_name in names if first_name[0] == 'C']

print(c_names)

# for loop version
c_names_reg = []

for first_name in names:
    if first_name[0] == 'C':
        c_names_reg.append(first_name)

print('\n')
print(c_names_reg)

['Conner']


['Conner']

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [70]:
my_tup = (1,2,3)
print(my_tup)

(1, 2, 3)

In [71]:
my_tup = 1,2,3
print(type(my_tup))

<class 'tuple'>

In [72]:
#This is useless
t2 = tuple()
t3 = ()
print(type(t2))
print(type(t3))

<class 'tuple'>
<class 'tuple'>

In [73]:
my_tup = ("Marcus","Perry","Caleb","Diana")
print(my_tup)

('Marcus', 'Pery', 'Caleb', 'Diana')

In [74]:
my_tup[1]

'Pery'

In [75]:
my_tup.index("Caleb")

2

TypeError: can only concatenate str (not "tuple") to str

In [81]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

##### sorted()

In [80]:
sorted_tup = sorted(my_tup)
print(tuple(sorted_tup))

('Caleb', 'Diana', 'Marcus', 'Pery')

In [83]:
my_tup[2]= "John" ##//Cannot change a tuple//##

TypeError: 'tuple' object does not support item assignment

In [86]:
new_tup = (1,2,3,["A","B","C"], 4)
#new_tup[3] = ["X","Y","Z"]

new_tup[3][1]= "Y"
new_tup

(1, 2, 3, ['A', 'Y', 'C'], 4)

##### Adding values to a Tuple

In [87]:
my_tup = ('Jack', 'Jim', 'Johnny', 'Jose')
my_tup = my_tup + ('Captain Morgan', 'Sailor Jerry', 'Mr. Jameson')
my_tup

('Jack',
 'Jim',
 'Johnny',
 'Jose',
 'Captain Morgan',
 'Sailor Jerry',
 'Mr. Jameson')

## Functions

##### User-Defined vs. Built-In Functions

In [94]:
def say_hello():
    print("Hello")
    print("Say hello to my little friend")

say_hello() #<---- executing function

Hello
Say hello to my little friend

In [102]:
def add():
    return 5+3
add()
print("I ran add")

I ran add

In [103]:
def add():
    return 5+3
print(add()+2)

10

In [104]:
print(add()==8)

True

##### Accepting Parameters

In [107]:
def print_full_name(f, l, m):
    print(f"{f} {m} {l}")
    
print_full_name("James","Herbert","Bond")

James Bond Herbert

In [110]:
#area of square:

def area_sq(len_of_side):
    return len_of_side**2
area_sq(150)

22500

##### Default Parameters

In [113]:
# default parameters need to be AFTER non-default parameters at all times
def print_full_name(f, l, m="Monroe"):
    print(f"{f} {m} {l}")

print_full_name("James", "Bond", "Herbert")

James Herbert Bond

In [114]:
def my_fun():
    print("hello")
    return 123
    print("Goodbye") #unreachable because of the retun, the code does not get read and the computer returns to the top
my_fun()

hello

123

##### Making an Argument Optional

In [73]:
def printHorseName(first, middle = "", last = "Ed"):
    return f"Hello {first} {middle} {last}"

printHorseName("Mr")

'Hello Mr  Ed'

##### Keyword Arguments

In [74]:
# last_name='Max', first_name='Smith' in the function call
def printSuperHero(name, power = "flying"):
    return f'{name} and superpower is {power}'

printSuperHero('IronMan')
# see above

'IronMan and superpower is flying'

# Creating a start, stop, step function

##### Returning Values

7

##### *args / **kwargs (AKA KeyWord Args)

In [119]:
# stands for arguments, takes ANY number of arguments as parameter

def my_func(name, *args):
    print(name)
    print(args)
    for arg in args:
        print(arg)
        print(type(arg))
    
my_func("Kevin",123.5,[1,2,3], "I am super cool", "Kevin is the best!")

Kevin
(123.5, [1, 2, 3], 'I am super cool', 'Kevin is the best!')
123.5
<class 'float'>
[1, 2, 3]
<class 'list'>
I am super cool
<class 'str'>
Kevin is the best!
<class 'str'>

In [126]:
def my_fun(name, **kwargs):
    print(name)
    print(type(kwargs))
    for key in kwargs:
        print(key, kwargs[key])
my_func("Kevin", weight=145, height= 64, foods=["tacos", "steaks", "Strawberries"], hair="Pink")

TypeError: my_func() got an unexpected keyword argument 'weight'

##### Docstring

In [128]:
def my_function(name,age):
    """ Takes in a name and age and returns a formatted string that tells the name and age. 
    [name]= string 
    [age]= interger
    
    """
    return f"{name} is {age}"
help(my_function)

Help on function my_function in module __main__:

my_function(name, age)
    Takes in a name and age and returns a formatted string that tells the name and age.
    [name]= string
    [age]= interger

##### Using a User Function in a Loop

In [131]:
def add_two(n):
    return n+2
while True:
    ask = int(input("What is your number? "))
    new_value = add_two(ask)
    print(f"new number is{new_value}")
    reponse = input("Are you ready to quit[type quit]")
    if response.lower()== "quit":
        break

KeyboardInterrupt: Interrupted by user

## Function Exercise <br>
<p>Write a function that loops through a list of first_names and a list of last_names, combines the two and return a list of full_names</p>

In [132]:
first_name = ['John', 'Evan', 'Jordan', 'Max']
last_name = ['Smith', 'Smith', 'Williams', 'Bell']

# Output: ['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

## Caleb's example ##

def combined_name(fn, ln):
    new_list = []
    for num in range(len(fn)):
        full_name = fn[num] + " " + ln[num]
        new_list.append(full_name)
    return new_list
    
combined_name(first_name, last_name)

['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

SCope

#placement of variable declaration matters
LEGB
Local
Enclosing
Global
built-in

In [133]:
print ("ggaagagag")
print("afafafafA")
x = 10
def my_fun():
    x = 20
    print(x)
    
my_fun()

print(x)

ggaagagag
afafafafA
20
10

In [135]:
var1 = "a"
var2 = "C"

def my_fun():
    print("Inside the function", var1)
    var2 = "B"
    print("Inside the function", var2)
my_fun()

Inside the function a
Inside the function B

# Exercises

## Exercise 1 <br>
<p>Given a list as a parameter,write a function that returns a list of numbers that are less than ten</b></i></p><br>
<p> For example: Say your input parameter to the function is [1,11,14,5,8,9]...Your output should [1,5,8,9]</p>

In [255]:
#Given a list as a parameter,write a function that returns a list of numbers that are less than tenFor example: Say your input parameter to the function is [1,11,14,5,8,9]...Your output should [1,5,8,9]
#For example: Say your input parameter to the function is [1,11,14,5,8,9]...Your output should [1,5,8,9]


given_list = [1,11,14,5,8,9]

def final_list(given_list):
    edited_list = []
    for num in given_list:
        if num <= 10:
            edited_list.append(num)
    return edited_list

final_list(num)

[1, 5, 8, 9]

## Exercise 2 <br>
<p>Write a function that takes in two lists and returns the two lists merged together and sorted<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [20]:
l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]
l_3 = l_1 + l_2

def comb_list(l_3):
for num in l_3:
    comb_list.sort()
    return comb_list
    
comb_list(l_1, 1_2)

TypeError: comb_list() missing 1 required positional argument: 'l_2'